/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
@font-face {
  font-family: 'Essays 1743';
  src: url('/f/essays1743-webfont.eot');
  src: local('Essays 1743'), url('/f/essays1743-webfont.woff') format('woff'), url('/f/essays1743-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Essays 1743';
  src: url('/f/essays1743-italic-webfont.eot');
  src: local('Essays 1743'), url('/f/essays1743-italic-webfont.woff') format('woff'), url('/f/essays1743-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Linux Libertine';
  src: url('/f/linlibertine_re-4.7.5-webfont.eot');
  src: local('Linux Libertine'), url('/f/linlibertine_re-4.7.5-webfont.woff') format('woff'), url('/f/linlibertine_re-4.7.5-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Linux Libertine';
  src: url('/f/linlibertine_bd-4.1.5-webfont.eot');
  src: local('Linux Libertine'), url('/f/linlibertine_bd-4.1.5-webfont.woff') format('woff'), url('/f/linlibertine_bd-4.1.5-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Linux Libertine';
  src: url('/f/linlibertine_it-4.2.6-webfont.eot');
  src: local('Linux Libertine'), url('/f/linlibertine_it-4.2.6-webfont.woff') format('woff'), url('/f/linlibertine_it-4.2.6-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

p, ul, ol {
  font-size: large;
  margin: 1.556em 0;
}


body {
  background-color: white;
  font: large "Linux Libertine", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  *font-size: small;
  text-align: center;
}

pre, kbd, samp, code, var {
  font: medium/1.25 "Liberation Mono", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
  word-spacing: 0;
  letter-spacing: 0;
}

/* headers */

h1, h2, h3, h4, caption, thead th {
  font-family: "Essays 1743", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", serif;
  font-weight: normal;
  text-transform: uppercase;
  text-shadow: 0 0 1px #667;
}

h1 {
  font-size: 210.7%;
  line-height: 1.1;
  text-align: center;
  width: 100%;
  margin: 1.49em 0;
}
h2 {
  font-size: 180%;
  line-height: 1.3125;
  margin: 1.167em 0;
  text-align: center;
  clear: both;
}
h3 {
  font-size: large;
  line-height: 1.167;
  margin: 1.556em 0;
  text-align: center;
}

/*

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}
*/


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 40em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

/*  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    } */
    
    /* code blocks */

pre {
  padding-left: 3.5em;
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE */
}
pre.ib {
  padding: 0;
}
mark {
  display: inline-block;
  background: #ff8;
  border: 1px dotted #888;
}
.p {
  color: #667;
}

/* overrides */

li ol, .q, .v span {
  margin: 0;
}
code, var, samp {
  line-height:inherit !important;
}


  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }