@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Roboto, sans-serif;
}

h1 {
  color: #0E1E25;
  font-size: 200%;
  font-family: Roboto, sans-serif;
}

.title {
  margin-right: 5px;
}

h2 {
  color: #0E1E25;
  font-size: 150%;
  font-family: Roboto, sans-serif;
}

h3 {
  font-size: 121%;
  font-weight: bold;
  font-style: italic;
  font-family: Roboto, sans-serif;
}

h4 {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
  font-family: Roboto, sans-serif;
}

.watermark {
  opacity: 0.2;
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: 500%;
  color: #00407d;
}

.col-xs-10 {
    width: 90%;
}

.col-xs-9 {
    width: 78%;
}


.col-xs-3 {
    width: 25%;
}

.header-panel {
    background-color: #00AD9F;
}

.menu ul li {
    list-style: none;
    padding: 15px 0 15px 25px;
    font-size: 20px;
}